body {
    background-image: url('/Assets/bg.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    padding-top: 5%;
    padding-bottom: 5%;
}

.title1 {
    font-size: 22px;
    font-weight: 600;
    color: rgb(70, 62, 62);
}

.mainBox {
    border-radius: 10rem;
    border: 1px solid blue;
}

.googBut {
    width: 15rem;
    background-color: red !important;
    font-weight: 600 !important;
}

.faceBut {
    width: 15rem;
    font-weight: 600 !important;
}

.fa-google-plus-square {
    float: left;
    font-size: x-large !important;
}

.fa-facebook-square {
    float: left;
    font-size: x-large !important;
}

.title2 {
    font-size: 15px;
}